@model IEnumerable<TheRota.Models.Role>
@{
    ViewBag.Title = "Role Page";
}


<table class="table table-bordered table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Id</td>
        </tr>
    }
</table>

